
{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $scrollex := resources.Get "js/jquery.scrollex.min.js" }}
{{ $scrolly := resources.Get "js/jquery.scrolly.min.js" }}
{{ $browser := resources.Get "js/browser.min.js" }}
{{ $breakpoints := resources.Get "js/breakpoints.min.js" }}
{{ $util := resources.Get "js/util.js" }}
{{ $main := resources.Get "js/main.js" }}
{{ $demo := resources.Get "js/demo.js" }}
{{ $analytics := resources.Get "js/analytics.js" }}


{{ $js := slice $jQuery $scrollex $scrolly $browser $breakpoints $util $main $demo | resources.Concat "assets/js/bundle.js" | minify }}

<!-- Scripts -->
<script async src='{{ $analytics.RelPermalink }}'  data-website-id="4ae585a6-c701-42a5-8776-0b45c5fbc98b"
data-host-url="https://stats.hüttenblock.com/"></script>
<script src='{{ $js.RelPermalink }}'></script>
