<!-- Table -->
<section>
    <header>
        <h3>Routes</h3>
    </header>
    <div class="content">
        <div class="table-wrapper">

            <table>
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Name</th>
                        {{/* <th>Description</th> */}}
                        <th>Grade
                            <code><a href="https://www.mountainproject.com/international-climbing-grades">UIAA</a></code>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{/* */}}
                    {{ range sort $.Site.Data.routes }}
                    <tr>
                        <td>{{ .number }}</td>
                        <td>{{ .name }}</td>
                        {{/* <td> {{ .description }}</td> */}}
                        <td><code>{{ .grade }}</code></td>

                    </tr>

                    {{ end }}
                </tbody>
            </table>
        </div>

    </div>
</section>
